PassengerFriendlyErrorPages on
<IfModule mod_rewrite.c>

    RewriteEngine On
    
    # Увеличиваем таймаут выполнения скрипта до 300 секунд (5 минут)
    php_value max_execution_time 300
    
    RewriteCond %{SERVER_PORT} !^443$
    RewriteRule .* https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]
    
    #редирект с www
    Options +FollowSymLinks
    RewriteCond %{HTTP_HOST} ^www.mklines\.ru$ [NC]
    RewriteRule ^(.*)$ https://mklines.ru/$1 [R=301,L]
    
    #редирет http
    RewriteCond %{HTTPS} off
    RewriteCond %{HTTP:X-Forwarded-Proto} !https
    RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    
    #редирект с index.php
    RewriteCond %{THE_REQUEST} ^.*/index.php
    RewriteRule ^(.*)index.php$ https://%{HTTP_HOST}/$1 [R=301,L]
    
    deny from 81.200.81.0 - 81.200.81.51
    deny from 94.25.174.0 - 94.25.174.10
    deny from 176.59.129.139 - 176.59.129.139
    deny from 176.116.164.237
    deny from 178.169.89.68
    deny from 66.90.90.138
    deny from 176.59.148.16
    deny from 87.200.120.142
    
</IfModule>
