{% extends 'base.html' %}
{%block content%}
<main>
    <div class="wrap">
        <div class="parser-table">
            <h2>{{title}}</h2>
            <form id="parser-form" method="post" class="parser-form">
                <div class="parser-form--col">
                    <label for="keys" class="label_keys">Ключевые слова (максимум 50 ключевых фраз):</label>
                    <textarea id="keys" class="textarea_keys" name="keys" rows="8" wrap="soft"
                              placeholder="Каждая ключевая фраза с новой строки.">{{ keys }}</textarea>
                </div>
                <div style="display: flex; justify-content: space-between;">
                    <div class="parser-form--col" style="flex-basis: 30%;">
                        <label for="engine" class="label_engine">Выберите поисковую систему:</label>
                        <select id="engine" class="select_engine" name="engine" aria-invalid="false">
                            <option value=11 data-search="js-city-y" disabled {% if engine== 11 %} selected {% endif %}>
                                Яндекс нативный
                            </option>
                            <option value=12 data-search="js-city-y" {% if engine== 12 %} selected {% endif %}>Яндекс XML
                                River
                            </option>
                            <option value=13 data-search="js-city-y" {% if engine== 13 %} selected {% endif %}>Яндекс XML
                            </option>
                            <option value=21 data-search="js-city-g" {% if engine== 21 %} selected {% endif %}>Google
                                нативный
                            </option>
                            <option value=22 data-search="js-city-g" {% if engine== 22 %} selected {% endif %}>Google XML
                                River
                            </option>
                        </select>
                    </div>
                    <div class="parser-form--col region--col js-city-y" style="flex-basis: 30%;">
                        <label for="region-y" class="label_region">Выберите регион для Yandex:</label>
                        <select id="region-y" class="select_region js-chosen" name="region" size="5" aria-invalid="false">
                            {% for item in r_ya %}
                                <option value="{{item[0]}}"{% if item[0] == region %}selected {% endif %}>{{item[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                     <div class="parser-form--col region--col js-city-g none" style="flex-basis: 30%;">
                        <label for="region-g" class="label_region">Выберите регион для Google:</label>
                        <select id="region-g" class="select_region js-chosen" name="region" size="5" aria-invalid="false">
                               {% for item in r_goo %}
                                <option value="{{item[0]}}"{% if item[0] == region %}selected {% endif %}>{{item[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="parser-form--col" style="flex-basis: 30%;">
                        <label for="iteration" class="label_iteration">Кол-во итераций:</label>
                        <select id="iteration" class="select_iteration" name="iteration" aria-invalid="false">
                            <option value="1"{% if iteration== 1 %} selected {% endif %}>1 - одна</option>
                            <option value="2"{% if iteration== 2 %} selected {% endif %}>2 - две</option>
                            <option value="3"{% if iteration== 3 %} selected {% endif %}>3 - три</option>
                        </select>
                    </div>
                </div>
                <div class="parser-form--col">
                    <p class="label_depth">Глубина проверки:</p>
                    <div class="parser-form--row">
                        <label for="depth-10">Топ-10</label>
                        <input id="depth-10" class="input_depth" name="depth" type="radio" value="10"{% if depth== 10
                               %} checked {% endif %}>
                        <label for="depth-20">Топ-20</label>
                        <input id="depth-20" class="input_depth" name="depth" type="radio" value="20"{% if depth== 20
                               %} checked {% endif %}>
                        <label for="depth-30">Топ-30</label>
                        <input id="depth-30" class="input_depth" name="depth" type="radio" value="30"{% if depth== 30
                               %} checked {% endif %}>
                    </div>
                </div>
                <br>
                <div class="parser-form--row">
                    <input id="docache_id" type="checkbox" name="docache" checked>
                    <label class="label_iteration label_docache" for="docache_id">Кешировать запросы</label>
                </div>
                <div class="parser-form--row">
                    <button class="parser-submit" type="submit" name="btn_submit" value="Начать проверку">Начать проверку</button>
                    <div class="preloader">
                        <svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 512 512">
                            <path fill="#2e88d6"
                                  d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
                            </path>
                        </svg>
                    </div>
                </div>
            </form>
            <h2>Результаты парсинга выдачи</h2>
            <div class="column-format">
                <div class="column-format-left">
                    <div class="lighting">
                        <div class="lighting-text">Подсветить:</div>
                        <div class="lighting-block">
                            <div class="lighting-agregator">
                                <button class="button-lighting-agregator" type="submit" name="btn_agregator" value="Подсветить агрегаторы">Агрегаторы</button>
                            </div>
                            <div class="lighting-main column-ml">
                                <button class="button-lighting-main" type="submit" name="btn_main" value="Подсветить главные">Главные</button>
                            </div>
                            <div class="lighting-domains column-ml">
                                <button class="button-lighting-domains" type="submit" name="btn_domains" value="Одинаковые домены">Одинаковые домены</button>
                            </div>
                            <div class="lighting-url column-ml">
                                <a class="button-lighting-url js-fancybox" href="#open-my-url">Мои домены</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column-format-right">
                    <div class="klastery">
                        <div class="klastery-text">Кластеризация:</div>
                        <div class="klastery-block">
                            <form id="cluster-form" method="post">
                              <input class="klastery_percent" type="text" name="klastery-inp" placeholder="% коллизий" value="{{barrier}}">
                              <button class="klastery_submit" type="submit" name="klastery-submit" value="Кластеризовать">Кластеризовать</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="column-format-bottom">
                <div class="column-xls">
                    <a class="download-csv" href="/parser/results.csv"><!--getcsv--><i class="fa fa-download" aria-hidden="true"></i> CSV</a>
                    <a class="download-xls" href="/parser/results.xls"><!--getxls--><i class="fa fa-download" aria-hidden="true"></i> XLS</a>
                </div>
                
                <div class="column-button">
                    <div class="column-format-button js-column-format" data-view="col-3"></div>
                    <div class="column-format-button js-column-format" data-view="col-4"></div>
                    <div class="column-format-button js-column-format" data-view="col-5"></div>
                </div>
            </div>
                    
            <div id="answer" class="answer answer-result--row">
                {% if answer %}
                {% for k in answer %}
                <table class="answer-table">
                    <thead class="table-head">
                    <tr>
                        <td>№{{ loop.index }}</td>
                        <td><i class="clipboard clone-url fa fa-clone" aria-hidden="true" data-clip="#clipboard-block-{{ loop.index }}"></i></td>
                        <td class="table-head--key">"{{k}}"</td>
                    </tr>
                    <tr class="table-klastery-tr">
                        <td class="table-klastery-td" colspan="3">Кластер № {{ clusters[k] + 1 }}</td>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    {% for i in range(answer[k]|count) %}
                    <!--<tr bgcolor="{{'#ffcc00' if i%2==0 else '#ffccaa'}}">-->
                    <tr>
                        <!-- <td class="table-body--number" bgcolor="{{clusters_colors[k] }}" >{{i+1}}</td> -->
                        <td class="table-body--number" >{{i+1}}</td>
                        <td class="table-body--favicon"><img src="{{get_favico(answer[k][i][0])}}"></td>
                        <td class="table-body--url" {%if answer[k][i][0] in same_urls %} bgcolor="{{same_urls[answer[k][i][0]]}}" {% endif %}>
                            <a class="js-site-link"
                                href="{{answer[k][i][0].url}}"
                                {%if answer[k][i][0].ismain %} mainpage="1" {% endif %}
                                title="{{answer[k][i][0].url}}"
                                target="_blank">{{answer[k][i][0].url}}</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="clipboard-block-{{ loop.index }}" class="clipboard-block-hide">{% for i in range(answer[k]|count) %}{{answer[k][i][0].url}} {% endfor %}
                </div>
                {% endfor %}
                {% endif %}
            </div>

            <div class="stata-block">
                
                <div id="stata_url" class="stata-block-put">
                    <h3>Статистика по ссылкам</h3>
                    {% if d_urls %}
                    <table class="stata-table">
                        <thead class="table-head">
                        <tr>
                            <td>URL</td>
                            <td class="table-head--key">Кол-во</td>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        {% for k in d_urls %}
                        <tr>
                            <td class="table-body--url"><a href="{{k}}" title="{{k}}" target="_blank">{{k}}</a></td>
                            <td class="table-body--number"> {{ d_urls[k] }} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                
                <div id="stata_hosts" class="stata-block-put">
                    <h3>Статистика по хостам</h3>
                    {% if d_hosts %}
                    <table class="stata-table">
                        <thead class="table-head">
                        <tr>
                            <td>URL</td>
                            <td class="table-head--key">Кол-во</td>
                        </tr>
                        </thead>
                        <tbody class="table-body">
                        {% for k in d_hosts %}
                        <tr>
                            <td class="table-body--url"><a href="{{k}}" title="{{k}}" target="_blank">{{k}}</a></td>
                            <td class="table-body--number"> {{ d_hosts[k] }} </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
                
            </div>

        </div>
    </div>
    <div id="open-my-url" class="popup-url">
        <textarea class="list_url" name="" rows="8" wrap="soft" placeholder="Каждый url с новой строки."></textarea>
        <div class="popup-url-button">
            <button class="button-lighting-url btn_url_off" type="submit" value="Снять подсветку">Очистить</button>
            <button class="button-lighting-url btn_url_on" type="submit" value="Подсветить url">Подсветить</button>
        </div>
    </div>
</main>
{% endblock%}}
