{% extends 'base.html' %}
{%block content%}
<main>
    <div class="wrap">
        <div class="parser-table">
            <h2>{{title}}</h2> что это 4
            <form id="parser-form" method="post" class="parser-form">
                <div class="parser-form--col">
                    <label for="keys" class="label_keys">Ключевые слова (максимум 50 ключевых фраз):</label>
                    <textarea id="keys" class="textarea_keys" name="keys" rows="8" wrap="soft"
                              placeholder="Каждая ключевая фраза с новой строки.">{{ keys }}</textarea>
                </div>
                <div class="parser-form--col">
                    <label for="iteration" class="label_iteration">процент коллизий:</label>
                    <select id="iteration" class="select_iteration" name="iteration" aria-invalid="false">
                        <option value="40" {% if collision_percent== 40 %} selected {% endif %}>40%</option>
                        <option value="50" {% if collision_percent== 50 %} selected {% endif %}>50%</option>
                        <option value="60" {% if collision_percent== 60 %} selected {% endif %}>60%</option>
                        <option value="70" {% if collision_percent== 70 %} selected {% endif %}>70%</option>
                        <option value="80" {% if collision_percent== 80 %} selected {% endif %}>80%</option>
                    </select>
                </div>

                <div class="parser-form--row">
                    <button class="parser-submit" type="submit" name="btn_submit" value="Начать проверку">Начать
                        группировку
                    </button>
                </div>
            </form>
            <h2>Результаты парсинга выдачи</h2>
            <div class="column-format">
                <div class="column-format-left">
                    <div class="lighting-agregator">
                        <button class="button-lighting-agregator" type="submit" name="btn_agregator"
                                value="Подсветить агрегаторы">Подсветить агрегаторы
                        </button>
                    </div>
                    <div class="lighting-domains column-ml">
                        <button class="button-lighting-domains" type="submit" name="btn_domains"
                                value="Одинаковые домены">Одинаковые домены
                        </button>
                    </div>
                    <div class="lighting-url column-ml">
                        <a class="button-lighting-url js-fancybox" href="#open-my-url">Мои домены</a>
                    </div>
                </div>
                <div class="column-format-row">
                    <div class="column-format-button js-column-format" data-view="col-3"></div>
                    <div class="column-format-button js-column-format" data-view="col-4"></div>
                    <div class="column-format-button js-column-format" data-view="col-5"></div>
                </div>
                <div class="column-xls">
                    <a href="/getXLS">выгрузка данных .xls</a>
                </div>

            </div>
            <div id="answer" class="answer answer-result--row">
                {% if answer %}
                {% for k in answer %}
                <table class="answer-table">
                    <thead class="table-head">
                    <tr>
                        <td>№ {{ loop.index }}</td>
                        <td></td>
                        <td class="table-head--key">"{{k}}"</td>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    {% for i in range(answer[k]|count) %}
                    <!--<tr bgcolor="{{'#ffcc00' if i%2==0 else '#ffccaa'}}">-->
                    <tr>
                        <td class="table-body--number">{{i+1}}</td>
                        <td class="table-body--favicon"><img src="{{get_favico(answer[k][i][0])}}"></td>
                        <td class="table-body--url" {%if answer[k][i][0] in same_urls %}
                            bgcolor="{{same_urls[answer[k][i][0]]}}" {% endif %}><a class="js-site-link"
                                                                                    href="{{answer[k][i][0].url}}">{{answer[k][i][0].title.split('?')[0]}}<br><b>{{answer[k][i][0].url}}</b></a>
                            <br>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
                {% endif %}
            </div>
            <br>
            <br>
            <h3>Статистика по ссылкам</h3>
            <div id="answer_url" class="answer answer-result--row">
                {% if d_urls %}

                <table class="answer-table">
                    <thead class="table-head">
                    <tr>
                        <td>URL</td>
                        <td class="table-head--key">Количество запросов</td>
                    </tr>
                    </thead>
                    <tbody class="table-body">
                    {% for k in d_urls %}
                    <tr>
                        <td class="table-body--url">{{k}}</td>
                        <td class="table-body--number"> {{ d_urls[k] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
            </div>
        </div>
        <br>
        <br>
        <h3>Статистика по хостам</h3>
        <div id="answer_hosts" class="answer answer-result--row">
            {% if d_hosts %}

            <table class="answer-table">
                <thead class="table-head">
                <tr>
                    <td>URL</td>
                    <td class="table-head--key">Количество запросов</td>
                </tr>
                </thead>
                <tbody class="table-body">
                {% for k in d_hosts %}
                <tr>
                    <td class="table-body--url">{{k}}</td>
                    <td class="table-body--number"> {{ d_hosts[k] }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>

    </div>

    <div id="open-my-url" class="popup-url">
        <textarea class="list_url" name="" rows="8" wrap="soft" placeholder="Каждый url с новой строки."></textarea>
        <div class="popup-url-button">
            <button class="button-lighting-url btn_url_off" type="submit" value="Снять подсветку">Снять подсветку
            </button>
            <button class="button-lighting-url btn_url_on" type="submit" value="Подсветить url">Подсветить</button>
        </div>
    </div>

</main>
{% endblock%}}