SetEnv LD_LIBRARY_PATH "/home/r/rapcooc5/.local/lib:$LD_LIBRARY_PATH"
PassengerEnabled On
PassengerAppRoot /home/r/rapcooc5/mklines/public_html/parser
PassengerBaseURI /parser
PassengerPython /usr/bin/python3.10